.collage{
    position:absolute;
}
#pink{
    color:pink;
}
.cropContainer{
    position: relative;
    overflow: hidden;
}
.flex-container{
  display:flex;
  flex-direction:column;
  width: 100vw;
  justify-content: center;
  height: 50vw;
  align-items: center;
  background-color: darkslateblue;
  font-family: 'Courier New', Courier, monospace;
}

.flex-item{
  margin:5%;padding:5%;
}
.container{
  position: relative;
  width: 100vw;
  height: auto;
  background-color: cadetblue;
}
.center{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(0,0);
  margin: 0;

}
.display-exp{
  display: flex;
  gap: 20px;
}
.display-exp div{
  flex: 1;
  padding: 20px;
  background-color: white;
  margin: 20px;
}
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-style: normal;
  color:rgb(248, 202, 19);
}

h2{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  font-style: normal;
  color: darkblue;
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  font-style: normal;
  color:rgb(15, 20, 75);

}
@keyframes changeBG{
  from{background-color: aqua;}
  to{background-color: cornflowerblue;}
}
@keyframes test{
  from{left: 0px;}
  to{left: 1000px;}
}
.move{
  width: 200px;
  height: 300px;
  position: relative;
  animation-name: test;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@font-face {
  font-family: Mourier-Regular;
	src: url('Mourier-Regular.eot');
	src: url('Mourier-Regular?#iefix') format('embedded-opentype'),
	     url('Mourier-Regular.woff') format('woff')
}

p:hover{
  background-color: rgb(248, 202, 19);
  color: cornflowerblue;
}
@keyframes test2{
  from{left: 5px0;}
  to{right: 5px;}

}