.collage{
    position:absolute;
}
#pink{
    color:pink;
}
.cropContainer{
    position: relative;
    overflow: hidden;
}
.flex-container{
  display:flex;
  flex-direction:row;
  width: 100vw;
  justify-content: center;
  height: 500px;
  align-items: center;
  background-color: aquamarine;
  font-family: 'Courier New', Courier, monospace;
}

.flex-item{
  margin:5%;padding:5%;
}
.container{
  position: relative;
  width: 100vw;
  height: auto;
  background-color: cadetblue;
}
.center{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(0,-50);

}
.display-exp{
  display: flex;
  gap: 20px;
}
.display-exp div{
  flex: 1;
  padding: 20px;
  background-color: white;
  margin: 20px;
}
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-style: normal;
  color:rgb(248, 202, 19);
  animation-name: changeBG;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

h2{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  font-style: normal;
  color: darkblue;
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  font-style: normal;
  color:rgb(15, 20, 75);

}
@keyframes changeBG{
  from{background-color: aqua;}
  to{background-color: cornflowerblue;}
}
@keyframes test{
  0%   {background-color:chartreuse; left:0px; top:0px;}
  25%  {background-color:goldenrod; left:200px; top:0px;}
  50%  {background-color:cornflowerblue; left:200px; top:200px;}
  75%  {background-color:coral; left:0px; top:200px;}
  100% {background-color:chartreuse; left:0px; top:0px;}
}
.changecolor{
  width: 200px;
  height: 300px;
  background-color: chartreuse;
  position: relative;
  animation-name: test;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@font-face {
  font-family: Mourier-Regular;
	src: url('Mourier-Regular.eot');
	src: url('Mourier-Regular?#iefix') format('embedded-opentype'),
	     url('Mourier-Regular.woff') format('woff')
}